@using Cinema.Web.Models.Tables.Enums
@model Cinema.Web.Models.DTOs.ReserveSeatDTO

@{
    ViewData["Title"] = "Helyfoglalás";
}

<h1>Helyfoglalás</h1>

<h4>@Html.DisplayFor(_ => Model.Title) - @Html.DisplayFor(_ => Model.Start)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShowId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Név</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Telefonszám</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <table class="seat-table table">
                <tbody>
                    @{
                        var rowCount = Model.Seats.MaxBy(s => s.Row)!.Row;
                        var columnCount = Model.Seats.MaxBy(s => s.Column)!.Column;
                    }
                    @for (Int32 i = 1; i < rowCount + 1; i++)
                    {
                        <tr>
                            <td>
                                <b>@Html.DisplayFor(_ => i)</b>
                            </td>
                            @for (Int32 j = 1; j < columnCount + 1; j++)
                            {
                                var seat = Model.Seats.SingleOrDefault(s => i == s.Row && j == s.Column);

                                <td>
                                    <div class="cat">
                                        <label>
                                            <input asp-for="Seats[(i - 1) * rowCount + (j - 1)].Reserved" type="checkbox" />
                                            <span>@Html.DisplayFor(_ => j)</span>
                                        </label>
                                    </div>
                                </td>
                            }
                            <td>
                                <b>@Html.DisplayFor(_ => i)</b>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Helyfoglalás véglegesítése" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Vissza a mai műsorajánlathoz</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
